[submodule "docker/scripts/Boost-for-Android"]
	path = docker/scripts/Boost-for-Android
	url = https://github.com/moritz-wundke/Boost-for-Android
[submodule "ledger/ledger"]
	path = ledger/ledger
	url = https://git.sr.ht/~ilammy/ledger
